* {
  margin: 0;
}

body {
  background: rgba(0,0,0,0);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.1);
  padding: 10px;
  height: 50px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_header >.btn {
  color: #EEEEEE;
}

.app_header_left_info {
  display: flex;
  align-items: center;
}

.app_header_left_info>h3 {
  margin-left: 5px;
  color: #d63754;
}

.app_header_right {
  display: flex;
  justify-content:center;
  align-items: center;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.app_posts {
  padding: 20px;
}

.app_login {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app_login >center> h5 {
  font-size: 25px;
}

.app_signup >center> h5 {
  font-size: 25px;
}

.app_login_e {
  margin: 20px;
}

.app_signin_e {
  margin: 15px;
}

button {
  border: 2px solid#858486;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.upload_btn {
  margin-right: 10px;
  background-color: transparent;
}

.app_login> .btn {
  background-color: #e02144;
  border: none;
}

.app_login> Button:hover,
.app_signup> Button:hover {
  background-color: rgb(184, 44, 209);
}

.signin_btn {
  margin-right: 10px;
}

.signin_btn:hover {
  background-color: transparent;
} 

.signup_btn:hover {
  background-color: transparent;
  color: white;
} 


.app_upload {
  position: sticky;
  top: 100px;
  right: 1000px;
  z-index: 1;
  padding: 10px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  color: #eeeeee;
}

.uploadbg {
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageupload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #6200EE;
  background-color: rgb(0,0,0);
  width: 350px;
}

.close {
  width: 45px;
  background-color:#e02144;
  color: white;
  padding: 5px;
  margin: 10px;
}
.imageupload_progress {
  width: 90%;
  margin: 10px;
  height: 50px;
}

.warning {
  background-color: #e02144;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.image_caption {
  margin: 20px;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid rgb(180, 177, 177);
  background-color: transparent;
  color: white;
  outline: none;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
}

.image_file {
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.image_btn {
  width: 200px;
  cursor: pointer;
  border:none;
  display: block;
  margin: 40px 0;
  color: white;
  padding: 10px; 
  background-color: #6200EE;
  border-radius: 20px;
}

.warn {
  background-color: #e02144;
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}